<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section class="over-all smooth-fadein" *ngIf="!pageLoader">

  <!-- breadcrumb -->
  <section class="head-breadcrumb">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="head-breadcrumb-inner border-btm d-flex justify-content-between">
            <div>
              <h2>Quotation Details</h2>
              <p>#{{details.quot_number}}</p>
            </div>
            <div *ngIf="template_setting?.display_goback && cs?.desktop_device" class="d-flex align-items-center justify-content-end">
              <span (click)="cs.goBack();">GO BACK</span>
            </div>
          </div>
        </div>

        <div *ngIf="template_setting?.breadcrumb" class="col-md-12">
          <div class="breadcrumb-navigation mt-3">
            <ul class="collapsed">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/account">My Account</a></li>
              <li><a routerLink="/account/quotations">Quotations</a></li>
              <li>
                <a routerLink="/account/quotations/list/{{params?.type}}">{{ params?.type | titlecase }} Quotations</a>
              </li>
              <li><span class="active-page">Quotation Details</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--# breadcrumb #-->

  <section class="common-site-section myaccount">
    <div class="{{template_setting?.body_type}}">

      <div class="gray-card primary-card p-3">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="live_order_card_inner">
              <h6>Delivery To</h6>
              <p>
                {{details.company_address?.name}}<br>
                {{details.company_address?.address}}
              </p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="row">
              <div class="col-12 live_order_card_inner">
                <h6>Order Summary</h6>
              </div>
              <div class="col-6 live_order_card_inner">
                <p>Item Subtotal</p>
              </div>
              <div class="col-6 live_order_card_inner">
                <p class="pull-right">
                  {{ details.sub_total | currency:details.currency_type?.country_code:'symbol':cc.format }}
                </p>
              </div>
              <div class="col-6 live_order_card_inner">
                <p>Shipping and Handling</p>
              </div>
              <div class="col-6 live_order_card_inner">
                <p class="pull-right">
                  {{ details.shipping_cost | currency:details.currency_type?.country_code:'symbol':cc.format }}
                </p>
              </div>
              <div class="col-6 live_order_card_inner">
                <p>Grand Total</p>
              </div>
              <div class="col-6 live_order_card_inner">
                <p class="pull-right">
                  {{ details.final_price | currency:details.currency_type?.country_code:'symbol':cc.format }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="gray-card primary-card p-3">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="live_order_card_inner">
              <h6>Order On</h6>
              <p>{{details.created_on | date: "dd MMM yyyy"}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="live_order_card_inner">
              <h6>Order Value</h6>
              <p>
                {{ details.final_price | currency:details.currency_type?.country_code:'symbol':cc.format }}
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="status_head">
              <div class="col-md-12 p-0 live_order_card_inner">
                <h6>Status</h6>
                <!-- live -->
                <ng-container *ngIf="params?.type=='live'">
                  <p *ngIf="details.quot_status=='placed'">Placed On {{details.created_on | date: "dd MMM yyyy"}}</p>
                  <p *ngIf="details.quot_status=='processing'">Processed On {{details.modified_on | date: "dd MMM yyyy"}}</p>
                </ng-container>
                <!-- confirmed -->
                <p *ngIf="params?.type=='confirmed'">
                  Confirmed On {{details.confirmed_on | date: "dd MMM yyyy"}}
                </p>
                <!-- cancelled -->
                <p *ngIf="params?.type=='cancelled'">
                  Cancelled On {{details.cancelled_on | date: "dd MMM yyyy"}}
                </p>
              </div>
            </div>
          </div>
          <!-- item list -->
          <div class="col-lg-12 col-md-12">
            <div class="pr-3 pl-3">
              <div *ngFor="let x of details.item_list;" class="live-order border-top border-btm pt-2 pb-2 mb-2">
                <div class="d-flex flex-row">
                  <div class="mr-2">
                    <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="product">
                  </div>
                  <div class="live-order-card">
                    <h5>{{x.name}}</h5>
                    <ng-container *ngIf="x.variant_status">
                      <small class="summary-addon" *ngFor="let y of x.variant_types; let j=index;">
                        <strong>{{y.name}}</strong>
                        <span>: {{y.value}}</span>
                      </small>
                    </ng-container>
                    <small class="summary-addon" *ngIf="x.addon_status && x.selected_addon">
                      <strong>Addon: </strong>
                      <span>{{x.selected_addon?.name}}<ng-container *ngIf="x.customization_status"> - </ng-container></span>
                      <span *ngIf="x.customization_status" class="cursor" (click)=" cs.onViewModel(x.customized_model);">
                        {{x.customized_model?.name}}
                      </span>
                    </small>
                    <small class="summary-addon">{{x.quantity}} {{template_setting?.display_unit? x.unit: ''}}</small>
                    <small class="summary-addon">
                      {{ x.final_price | currency:details?.currency_type?.country_code:'symbol':cc.format }}
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</section>