.explore {
	padding-top: 60px;
	padding-bottom: 60px;
	.slick-nav {
		>div {
			opacity: 1;
			left: -25px;
			box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
		}
		>div.slick-nav__next {
			right: -25px;
			left: auto;
		}
	}
	.slick-dots {
		bottom: -40px;
		button {
			&:before {
				width: 8px;
				height: 8px;
				background-color: #d8d8d8;
			}
		}
		.slick-active {
			button {
				&:before {
					background-color: #FFBB00;
				}
			}
		}
	}
}

.banner-dark {
	opacity: 0.9;
	background-color: #000000;
	padding: 40px 0 30px;
}

.place-item.layout-02 {
	.place-inner {
		cursor: pointer;
		border: none;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
		position: relative;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		overflow: hidden;
	}
	.featured{
		display: none;
	}
	.place-thumb {
		position: relative;
		display: block;
		.entry-thumb {
			overflow: hidden;
			display: block;
		}
		img {
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			transition: all 0.3s ease 0s;
			height: 210px;
			width: 100%;
			object-fit: cover;
		}
		.btn-add-to-wishlist {
			line-height: 0;
			position: absolute;
			top: 20px;
			right: 20px;
			width: 32px;
			height: 32px;
			border-radius: 30px;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			background: #ffffff;
			align-items: center;
			justify-content: center;
		}
		.entry-category {
			position: absolute;
			top: 20px;
			left: 20px;
			img {
				width: 32px;
				height: auto;
			}
		}
	}
	.feature {
		position: absolute;
		left: 20px;
		bottom: 0;
		background-color: #ffcc01;
		border-radius: 5px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		height: 28px;
		line-height: 28px;
		font-family: Jost;
		font-size: 15px;
		font-weight: 500;
		padding: 0 10px;
		color: #ffffff;
		transform: translateY(50%);
	}
	.entry-detail {
		background: #ffffff;
		// border: solid 1px #eeeeee;
		border-top: 0;
		// border-bottom-right-radius: 15px;
		// border-bottom-left-radius: 15px;
		padding: 10px;
	}
	.entry-head {
		font-size: 16px;
		line-height: 1.5;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 5px;
		.place-city {
			position: relative;
			padding-left: 10px;
			margin-left: 8px;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				bottom: 9px;
				width: 3px;
				height: 3px;
				background-color: #d8d8d8;
			}
		}
	}
	.place-type {
		font-size: 16px;
		line-height: 1.5;
		text-transform: inherit;
		margin-bottom: 0;
	}
	.place-title {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 5px;
	}
	.entry-bottom {
		font-weight: 500;
		font-family: Jost;
		// display: -webkit-box;
		// display: -ms-flexbox;
		// display: flex;
		align-items: center;
		text-align: center !important;
		justify-content: space-between;
		.place-price {
			font-size: 16px;
		}
	}
	.place-preview {
		font-size: 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		.place-rating {
			margin-right: 3px;
			color: #FFBB00;
		}
	}
	.entry-category {
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
		border-radius: 16px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		padding: 0;
		transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		span {
			color: #ffffff;
			display: none;
		}
		i {
			color: #ffffff;
			margin-right: 0px;
		}
		&:hover {
			width: auto;
			border-radius: 16px;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			padding: 0 10px;
			span {
				display: inline-block;
			}
			i {
				margin-right: 5px;
			}
		}
	}
	.entry-category.rosy-pink {
		background-color: #f0626c;
	}
	.entry-category.purple {
		background-color: #d763d7;
	}
	.entry-category.blue {
		background-color: #5b5ff9;
	}
	.entry-category.orange {
		background-color: #ffb44f;
	}
	.entry-category.charcoal-purple {
		background-color: #846fcd;
	}
	.entry-category.green {
		background-color: #78cc58;
	}
	.open-now,
	.close-now{
		// @include font-jost(15px);
		color: #2dcb48;
		display: flex;
		align-items: center;
		margin-bottom: 22px;
		i{
			font-size: 24px;
			margin-right: 2px;
		}
	}
	.close-now{
		color: #f43319;
	}
	.author{
		width: 32px;
		height: 32px;
		border-radius: 50%;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		border: 2px solid #ffffff;
		display: block;
		position: absolute;
		bottom: -18px;
		right: 20px;
		img{
			height: auto;
			border-radius: 50%;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
		}
	}
}

.place-item {
	&:hover {
		.entry-thumb {
			>img {
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-o-transform: scale(1.1);
				-ms-transform: scale(1.1);
				transform: scale(1.1);
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
				transition: all 0.3s ease 0s;
			}
		}
	}
}