.text-carousel {
  position: absolute;
  margin: 0 auto;
  top: 5px;
  width: 100%;
  left: 0;
  right: 0;
  text-align: left;
  font-size: 14px;
  line-height: 45px;
  height: 45px;
  color: rgba(33, 33, 33, 0.4);
  }
  .text-carousel .pre {
    position: absolute;
    top: 0;
    right: 56%;
    height: 45px;  
  }
  .text-carousel .change_outer {
    position: absolute;
    top: 0;
    left: 15px;
    text-align: left;
    height: 45px;
    overflow: hidden;
  }
  .text-carousel .change_outer .change_inner {
    position: relative;
    -webkit-animation: rotate 8s ease-in-out infinite;
            animation: rotate 8s ease-in-out infinite;
  }
  .text-carousel .change_outer .element {
    display: block;
    font-weight: 500;  
  }
  
  @-webkit-keyframes rotate {
    0%, 20% {
      transform: translateY(0);
    }
    25%, 45% {
      transform: translateY(-45px);
    }
    50%, 70% {
      transform: translateY(-90px);
    }
    75%, 95% {
      transform: translateY(-135px);
    }
    100% {
      transform: translateY(-180px);
    }
  }
  
  @keyframes rotate {
    0%, 20% {
      transform: translateY(0);
    }
    25%, 45% {
      transform: translateY(-45px);
    }
    50%, 70% {
      transform: translateY(-90px);
    }
    75%, 95% {
      transform: translateY(-135px);
    }
    100% {
      transform: translateY(-180px);
    }
  }
  