<section *ngIf="pageLoader">
  <app-loading-spinner></app-loading-spinner>
</section>

<section class="over-all smooth-fadein" *ngIf="!pageLoader">

  <!-- breadcrumb -->
  <section class="head-breadcrumb">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="head-breadcrumb-inner border-btm d-flex justify-content-between">
            <div>
              <h2>
                {{ params?.type | titlecase }} Quotations
              </h2>
              <p>
                Check your {{ params?.type }} quotations
              </p>
            </div>
            <div *ngIf="template_setting?.display_goback && cs?.desktop_device" class="d-flex align-items-center justify-content-end">
              <span (click)="cs.goBack();">GO BACK</span>
            </div>
          </div>
        </div>

        <div *ngIf="template_setting?.breadcrumb" class="col-md-12">
          <div class="breadcrumb-navigation mt-3">
            <ul class="collapsed">
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/account">My Account</a></li>
              <li><a routerLink="/account/quotations">Quotations</a></li>
              <li>
                <span class="active-page">{{ params?.type | titlecase }} Quotations</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--# breadcrumb #-->

  <section *ngIf="list?.length" class="common-site-section myaccount">
    <div class="{{template_setting?.body_type}}">
      <!-- search -->
      <div class="row">
        <div class="col-md-12">
          <div class="order-search">
            <div class="input-group icon-input-group order-search-group mb-5">
              <input type="text" class="form-control" placeholder="Search all quotations..." name="quot_search"
              [(ngModel)]="cs.quot_search" autocomplete="off">
              <div class="input-group-append icon-append">
                <span (click)="(cs.quot_search?.length)? cs.quot_search='': '';" class="input-group-text">
                  <i class="material-icons" *ngIf="cs.quot_search?.length">close</i>
                  <i class="material-icons" *ngIf="!cs.quot_search?.length">search</i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- quot list -->
      <div *ngFor="let x of list | orderDesc:'created_on' | fieldSearch:'quot_number':cs.quot_search | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;" class="mb-5">
        <div>
          <h5>#{{x.quot_number}}</h5>
        </div>
        <div class="gray-card primary-card p-3">
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="live_order_card_inner">
                <h6>Order On</h6>
                <p>{{x.created_on | date: "dd MMM yyyy"}}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="live_order_card_inner">
                <h6>Order Value</h6>
                <p>
                  {{ x.temp_final_price | currency:x.currency_type?.country_code:'symbol':cc.format }}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="live_order_card_inner">
                <h6>Delivery To</h6>
                <p>{{ x.company_address?.name }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="live_order_card_inner">
                <h6>Status</h6>
                <!-- live -->
                <ng-container *ngIf="params?.type=='live'">
                  <p *ngIf="x.quot_status=='placed'">Placed On {{x.created_on | date: "dd MMM yyyy"}}</p>
                  <p *ngIf="x.quot_status=='processing'">Processing On {{x.modified_on | date: "dd MMM yyyy"}}</p>
                </ng-container>
                <!-- completed -->
                <p *ngIf="params?.type=='confirmed'">
                  Confirmed On {{x.confirmed_on | date: "dd MMM yyyy"}}
                </p>
                <!-- cancelled -->
                <p *ngIf="params?.type=='cancelled'">
                  Cancelled On {{x.cancelled_on | date: "dd MMM yyyy"}}
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="live_order_card_inner">
                <h6>Total Items</h6>
                <p>{{ x.item_list?.length }}</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <button class="primary-btn w-100" type="button" routerLink="/account/quotations/list/{{params?.type}}/{{x._id}}">VIEW</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!(list | fieldSearch:'quot_number':cs.quot_search)?.length" class="row">
        <div class="col-md-12">
          <div class="no-items d-flex align-items-center justify-content-center">
            <img width="100%" height="100%" imgBroken src="assets/images/no_items_found.svg" alt="not-found">
          </div>
        </div>
        <div class="col-md-12" align="center">
          <div class="no-items-letter">
            <p>Search result not found</p>
          </div>
        </div>
      </div>

      <!-- pagination -->
      <div class="row">
        <div class="col-md-12 navigation-ngx">
          <div>
            <pagination-controls (pageChange)="page=$event; cs.pageScrollTop();" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="!list?.length" class="common-site-section myaccount">
    <div class="{{template_setting?.body_type}}">
      <div class="row">
        <div class="col-md-12">
          <div class="no-items d-flex align-items-center justify-content-center">
            <img width="100%" height="100%" imgBroken src="assets/images/no_items_found.svg" alt="not-found">
          </div>
        </div>
        <div class="col-md-12" align="center">
          <div class="no-items-letter">
            <p>No orders placed</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>