<!-- header -->
<header class="sticky-header" id="headroom-head">

  <div *ngIf="template_setting?.announcement_bar && !commonService?.hideTopbar && isConnected" class="top-news">
    <p class="mb-0" [ngClass]="(commonService.application_setting?.announcebar_config?.link_status)? 'cursor': ''"
    (click)="commonService.onPageRedirect(commonService.application_setting?.announcebar_config);" id="announceBar">{{announcementBar}}</p>
  </div>

  <header class="cd-main-header">
    <div class="{{template_setting.header_type}} m-header-container hover-container">
      <div class="row m-header-row">
        <div class="col-3 col-md-5 header-left-sec">
          <ng-container *ngIf="!commonService?.hideHeader && isConnected">
            <!-- search -->
            <div *ngIf="commonService.ys_features.indexOf('product_search')!=-1" routerLink="/search" class="btn-search header-icon-container">
              <i [hidden]="!commonService?.window_loaded" class="material-icons transform-90">search</i>
            </div>
            <!-- wishlist -->
            <div class="header-icon-container">
              <a [hidden]="!commonService?.window_loaded" (click)="(commonService?.customer_token)? '': commonService.after_login_event={ redirect: '/wishlist' }" [routerLink]="(commonService?.customer_token)? '/wishlist' : '/account'">
                <i class="material-icons">favorite</i>
                <sup *ngIf="wishService.wish_list?.length">
                  <div class="item-badge">{{ wishService.wish_list.length }}</div>
                </sup>
              </a>
            </div>
          </ng-container>
          <ng-container *ngIf="!commonService?.hideHeader && isConnected && commonService?.screen_width>=991">
            <!-- currency variation -->
            <div class="header-icon-container" *ngIf="commonService.ys_features.indexOf('currency_variation')!=-1 && !commonService.application_setting?.hide_currency">
              <!-- currency drop-down -->
              <div *ngIf="!commonService.ipBasedCurrency && currency_types.length>1">
                <a>
                  <select class="currency-select" (change)="onCurrencyChange();" name="currency" [(ngModel)]="currency" [disabled]="commonService?.hideCurrencySelect">
                    <option *ngFor="let x of currency_types; let i=index;" [ngValue]="x">{{x.country_code}}</option>
                  </select>
                </a>
              </div>
              <!-- ip based -->
              <div *ngIf="commonService.ipBasedCurrency || currency_types.length===1">
                <a>{{currency?.country_code}}</a>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="col-6 col-md-2 center-logo">
          <div class="cd-logo logo">
            <a (click)="commonService.resetMegaMenu();" routerLink="{{ (router.url=='/others/service-unavailable')? router.url: '/' }}">
              <img width="100%" height="100%" appImgLazyLoad class="logo-img" [ImagelazyLoad]="imgBaseUrl+commonService.store_logo" alt="{{commonService.store_details?.name}}">
            </a>
          </div>
        </div>

        <div class="col-3 col-md-5 header-right-sec">

          <!-- navbar -->
          <nav [hidden]="commonService?.hideHeader || !isConnected" class="cd-nav">
            <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
              <!-- currency variation -->
              <ng-container *ngIf="commonService.ys_features.indexOf('currency_variation')!=-1 && !commonService.application_setting?.hide_currency && commonService?.screen_width<=991">
                <!-- currency drop-down -->
                <li *ngIf="!commonService.ipBasedCurrency && currency_types.length>1">
                  <a>
                    <select class="currency-select" (change)="onCurrencyChange();" name="currency" [(ngModel)]="currency" [disabled]="commonService?.hideCurrencySelect">
                      <option *ngFor="let x of currency_types; let i=index;" [ngValue]="x">{{x.country_code}}</option>
                    </select>
                  </a>
                </li>
                <!-- ip based -->
                <li *ngIf="commonService.ipBasedCurrency || currency_types.length===1">
                  <a>{{currency?.country_code}}</a>
                </li>
              </ng-container>

              <!-- menu list -->
              <li *ngFor="let menu of commonService.menu_list | orderAsc: 'rank'; let i=index;" [ngClass]="{ 'has-children mega-menu slim-scroll': menu?.sec_count, 'pos-relative': menu?.sec_count<=2 }">
                <a (mouseenter)="(!menu?.sec_count && commonService.desktop_device)? commonService.resetMegaMenu(): ''" (click)="(!menu?.sec_count)? commonService.onPageRedirect(menu): ''">{{menu.name}}</a>
                <ul class="cd-secondary-nav cd-secondary-nav is-hidden slim-scroll" [ngClass]="{
                    'menu-layout-one': menu?.sec_count<=1,
                    'menu-layout-two': menu?.sec_count==2,
                    'menu-layout-three': menu?.sec_count==3,
                    'menu-layout-four': menu?.sec_count==4,
                    'menu-layout-five': menu?.sec_count>4
                  }">
                  <li class="go-back">
                    <a>{{menu.name}}</a>
                  </li>
                  <li class="see-all display-none">
                    <a>&nbsp;</a>
                  </li>
                  <!-- sections without category -->
                  <li *ngIf="menu?.sections_in_one_col">
                    <a *ngFor="let sec of menu.sections | orderAsc: 'rank';" (click)="commonService.onPageRedirect(sec);">{{ sec.name }}</a>
                  </li>
                  <!-- section with category -->
                  <ng-container *ngIf="!menu?.sections_in_one_col">
                    <li class="slim-scroll" *ngFor="let sec of menu.sections | orderAsc: 'rank';" [ngClass]="(sec?.categories?.length)? 'has-children' : ''">
                      <a (click)="(sec?.categories?.length && commonService?.screen_width<=991)? '' :commonService.onPageRedirect(sec);">{{ sec.name }}</a>
                      <ul class="is-hidden">
                        <li class="go-back">
                          <a>{{sec.name}}</a>
                        </li>
                        <li class="slim-scroll" *ngFor="let cat of sec.categories | orderAsc: 'rank';" [ngClass]="(cat?.sub_categories?.length)? 'has-children' : ''">
                          <a (click)="(cat?.sub_categories?.length)? '' :commonService.onPageRedirect(cat);">{{ cat.name }}</a>
                          <ul class="is-hidden">
                            <li class="go-back">
                              <a>{{ cat.name }}</a>
                            </li>
                            <li class="see-all" *ngFor="let sub_cat of cat.sub_categories | orderAsc: 'rank';">
                              <a (click)="commonService.onPageRedirect(sub_cat);">{{ sub_cat.name }}</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ng-container>
                  <!-- menu images -->
                  <li class="nav-img-wrapper slim-scroll" *ngFor="let x of menu.menu_images;">
                    <div class="nav-img">
                      <h4 *ngIf="x.heading" class="nav-img-title">{{x.heading}}</h4>
                      <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="menu-img" class="menu-nav-img">
                      <p *ngIf="x.sub_heading" class="blog-description pt-3">{{x.sub_heading}}</p>
                      <div *ngIf="x.btn_status" class="button-container">
                        <button class="primary-btn" (click)="commonService.onPageRedirect(x);">{{x.btn_text}}</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>

              <!-- account -->
              <li *ngIf="commonService?.screen_width<=991">
                <a routerLink="/account">My Account</a>
              </li>
            </ul>
          </nav>
          <!-- #navbar -->

          <ul class="cd-header-buttons">
            <!-- for mobile screen -->
            <li *ngIf="!commonService?.hideHeader && isConnected && commonService?.screen_width<=991">
              <a aria-label="" class="cd-nav-trigger" href="#cd-primary-nav">
                <span></span>
              </a>
            </li>
          </ul>
          <!-- cart -->
          <div *ngIf="!commonService?.hideHeader && isConnected" class="mini-cart header-icon-container">
            <div id="minicart-trigger" class="minicart-trigger">
              <a [hidden]="!commonService?.window_loaded">
                <i class="material-icons">local_mall</i>
                <sup *ngIf="cartService?.cart_list?.length">
                  <div class="item-badge">{{ cartService.cart_list.length }}</div>
                </sup>
              </a>
            </div>
            <div class="cart-box">
              <div class="shop-inner">
                <div class="cart-header">
                  <div class="cart-product-list slim-scroll">
                    <div class="cart-count">
                      <h4>Shopping Bag
                        <span>{{cartService.cart_list?.length}} {{(cartService.cart_list?.length>1)? 'items': 'item'}}</span>
                      </h4>
                    </div>
                    <div class="cart-inner" *ngFor="let x of cartService.cart_list | slice:0:2; let i=index;">
                      <div class="thumb">
                        <a>
                          <img width="100%" height="100%" appImgLazyLoad [ImagelazyLoad]="imgBaseUrl+x.image" alt="prod-thum">
                        </a>
                      </div>
                      <div class="content">
                        <div class="content-inner">
                          <p class="overflow-dots mb-0 p-0">
                            <strong>{{x.name}}</strong>
                          </p>
                          <div class="quatity">
                            <span>Qty: {{x.quantity}} {{template_setting?.display_unit? x.unit: ''}}</span>
                            <span>{{ x.temp_final_price | currency:cc.currency?.country_code:'symbol':cc.format }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cart-footer" *ngIf="cartService.cart_list?.length">
                  <button routerLink="/cart" class="primary-btn w-100" id="view-btn">GO TO CHECKOUT</button>
                </div>
              </div>
            </div>
          </div>
          <!-- my account -->
          <div *ngIf="!commonService?.hideHeader && isConnected && commonService?.screen_width>=991" class="header-icon-container">
            <a routerLink="/account">
              <i [hidden]="!commonService?.window_loaded" class="material-icons">account_circle</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

</header>
<!-- #header -->

<!-- router -->
<div class="page-container">
  <div *ngIf="isConnected" class="cd-main-content">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="!isConnected" class="cd-main-content no-connection mt-200">
    <svg height="512pt" viewBox="-90 0 512 512.00066" width="512pt" xmlns="http://www.w3.org/2000/svg">
      <path d="m307.222656 481.988281h-42.128906l-84.367188-359.589843c-1.589843-6.785157-7.640624-11.582032-14.609374-11.582032s-13.019532 4.796875-14.609376 11.582032l-84.367187 359.589843h-42.046875c-8.289062 0-15.007812 6.71875-15.007812 15.003907 0 8.289062 6.71875 15.007812 15.007812 15.007812h282.128906c8.289063 0 15.007813-6.71875 15.007813-15.007812 0-8.285157-6.71875-15.003907-15.007813-15.003907zm-101.28125-120.71875-57.386718-34.214843 43.394531-25.429688zm-39.824218-169.742187 18.65625 79.519531-43.257813 25.347656zm-37.242188 158.738281 70.246094 41.878906-92.972656 54.996094zm-22.6875 131.722656 112.46875-66.527343 15.605469 66.527343zm0 0" fill="#D8E6EB" />
      <path d="m307.222656 481.988281h-42.128906l-84.367188-359.589843c-1.582031-6.75-7.582031-11.527344-14.503906-11.574219v81.144531l18.550782 79.074219-18.550782 10.871093v34.789063l25.726563-15.074219 13.992187 59.640625-39.71875-23.683593v34.945312l32.894532 19.613281-32.894532 19.460938v34.871093l52.429688-31.015624 15.609375 66.527343h-68.039063v30.011719h141c8.289063 0 15.007813-6.71875 15.007813-15.007812 0-8.285157-6.71875-15.003907-15.007813-15.003907zm0 0" fill="#B5C3CE" />
      <path d="m166.117188 160.761719c-25.949219 0-47.0625-21.113281-47.0625-47.066407 0-25.949218 21.113281-47.0625 47.0625-47.0625 25.953124 0 47.0625 21.113282 47.0625 47.0625 0 25.953126-21.109376 47.066407-47.0625 47.066407zm0 0" fill="#4895FF" />
      <path d="m92.933594 183.75c-4.554688 0-9.054688-2.066406-12.003906-5.988281-13.800782-18.351563-21.402344-41.101563-21.402344-64.0625 0-24.566407 8.574218-48.558594 24.140625-67.554688 5.25-6.410156 14.707031-7.351562 21.117187-2.097656 6.410156 5.25 7.351563 14.707031 2.097656 21.117187-11.183593 13.652344-17.34375 30.886719-17.34375 48.535157 0 16.492187 5.460938 32.839843 15.375 46.023437 4.980469 6.625 3.652344 16.03125-2.972656 21.011719-2.699218 2.03125-5.867187 3.015625-9.007812 3.015625zm0 0" fill="#BDFDFF" />
      <path d="m48.875 224.027344c-4.363281 0-8.6875-1.894532-11.652344-5.542969-24.003906-29.523437-37.222656-66.738281-37.222656-104.789063 0-39.8125 14.320312-78.339843 40.320312-108.488281 5.414063-6.277343 14.890626-6.976562 21.164063-1.566406 6.277344 5.414063 6.976563 14.890625 1.566406 21.167969-21.304687 24.699218-33.035156 56.265625-33.035156 88.886718 0 31.171876 10.828125 61.664063 30.496094 85.855469 5.226562 6.429688 4.253906 15.882813-2.179688 21.109375-2.78125 2.265625-6.128906 3.367188-9.457031 3.367188zm0 0" fill="#BDFDFF" />
      <path d="m239.339844 183.75c-3.140625 0-6.304688-.980469-9.007813-3.015625-6.621093-4.980469-7.953125-14.390625-2.972656-21.011719 9.914063-13.183594 15.375-29.53125 15.375-46.023437 0-17.648438-6.160156-34.882813-17.34375-48.535157-5.253906-6.410156-4.3125-15.867187 2.097656-21.117187 6.410157-5.253906 15.863281-4.3125 21.117188 2.097656 15.570312 19 24.144531 42.992188 24.144531 67.554688 0 22.960937-7.601562 45.710937-21.402344 64.0625-2.949218 3.921875-7.449218 5.988281-12.007812 5.988281zm0 0" fill="#76E2F8" />
      <path d="m283.398438 224.027344c-3.324219 0-6.671876-1.101563-9.457032-3.363282-6.429687-5.226562-7.40625-14.679687-2.175781-21.109374 19.664063-24.191407 30.496094-54.683594 30.496094-85.859376 0-32.617187-11.730469-64.183593-33.035157-88.886718-5.414062-6.277344-4.714843-15.75 1.5625-21.164063 6.277344-5.414062 15.753907-4.714843 21.167969 1.5625 26 30.148438 40.320313 68.679688 40.320313 108.492188 0 38.046875-13.222656 75.261719-37.226563 104.789062-2.960937 3.644531-7.289062 5.539063-11.652343 5.539063zm0 0" fill="#76E2F8" />
      <path d="m166.222656 66.636719v94.121093c25.902344-.058593 46.957032-21.144531 46.957032-47.0625 0-25.914062-21.054688-47.003906-46.957032-47.058593zm0 0" fill="#005FE4" />
    </svg>
    <p align="center">No Internet Connection</p>
  </div>
</div>
<!-- #router -->

<!-- footer -->
<app-footer *ngIf="!commonService?.hideFooter && isConnected"></app-footer>
<!-- #footer -->

<!-- Customization Details Modal -->
<a [hidden]="true" id="openCustomizationDetailsModal" (click)="openCustomDetails(); customizationDetailsModal.show();"></a>
<div bsModal #customizationDetailsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-model">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div>
          <h5 class="modal-title">
            <strong>{{commonService.selected_model?.name}}</strong>
          </h5>
          <p class="m-0">These are the details of the customization</p>
        </div>
        <div (click)="customizationDetailsModal.hide();" class="d-flex">
          <i class="material-icons">close</i>
        </div>
      </div>

      <div class="modal-body slim-scroll">
        <!-- custom list -->
        <div *ngIf="commonService.customView;" class="row">
          <ng-container *ngFor="let x of commonService.selected_model?.custom_list; let i=index;">
            <div class="col-md-6 d-flex" *ngFor="let y of x.value; let j=index;">
              <div class="gray-card primary-card d-flex align-items-center w-100 p-3">
                <div class="d-flex flex-row">
                  <div class="modal-img">
                    <img width="100%" height="100%" imgBroken *ngIf="y.image" [src]="imgBaseUrl+y.image" alt="model">
                    <img width="100%" height="100%" imgBroken *ngIf="!y.image" class="addon-icon opacity6" src="assets/images/addon.svg" alt="model">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6>{{x.name}}</h6>
                    <p class="m-0">{{y.name}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- measurement list -->
        <div *ngIf="commonService.measurementView;" class="row">
          <ng-container *ngFor="let x of commonService.selected_model?.mm_sets; let i=index;">
            <div class="d-flex" [ngClass]="(commonService.selected_model?.mm_sets?.length===1)? 'col-md-12': 'col-md-6'">
              <div class="gray-card primary-card w-100 p-3 mb-3">
                <div align="center">
                  <h5>{{x.name}}</h5>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-center mb-3">
                    <img width="100%" height="100%" imgBroken *ngIf="x.image" [src]="imgBaseUrl+x.image" alt="model">
                  </div>
                  <ng-container *ngFor="let y of x.list; let j=index;">
                    <div class="pr-1 pl-1">
                      <div class="row measurement-table">
                        <div class="col-6 d-flex juustify-content-start align-items-center border">
                          <p class="m-0">{{y.name}}:</p>
                        </div>
                        <div class="col-6 d-flex juustify-content-start align-items-center border">
                          <p class="m-0">{{y.value}} {{ commonService.selected_model?.mm_unit }}</p>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- notes list -->
        <div *ngIf="commonService.notesView;" class="row">
          <ng-container *ngFor="let x of commonService.selected_model?.notes_list; let i=index;">
            <div *ngIf="x.value" class="col-md-12 d-flex">
              <div class="gray-card primary-card d-flex align-items-center w-100 p-3">
                <div class="d-flex flex-row">
                  <div class="d-flex flex-column justify-content-center">
                    <h6>{{x.name}}</h6>
                    <p class="m-0">{{x.value}}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="modal-footer custom-view-mdl-ftr-btn">
        <div class="row w-100 justify-content-end m-0">
          <!-- custom view -->
          <ng-container *ngIf="commonService.customView">
            <ng-container *ngIf="commonService.selected_model?.mm_sets?.length || commonService.selected_model?.notes_list?.length">
              <div *ngIf="commonService.selected_model?.mm_sets?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=false; commonService.measurementView=true; commonService.notesView=false; commonService?.scrollModalTop(0);">
                  VIEW MEASUREMENTS
                </button>
              </div>
              <div *ngIf="commonService.selected_model?.notes_list?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=false; commonService.measurementView=false; commonService.notesView=true; commonService?.scrollModalTop(0);">
                  VIEW NOTES
                </button>
              </div>
            </ng-container>
            <div *ngIf="!commonService.selected_model?.mm_sets?.length && !commonService.selected_model?.notes_list?.length" class="col-md-6 col-6 pr-1 pl-1">
              <button class="primary-btn w-100" (click)="customizationDetailsModal.hide();" type="button">CLOSE</button>
            </div>
          </ng-container>
          <!-- measurement view -->
          <ng-container *ngIf="commonService.measurementView">
            <ng-container *ngIf="commonService.selected_model?.custom_list?.length || commonService.selected_model?.notes_list?.length">
              <div *ngIf="commonService.selected_model?.custom_list?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=true; commonService.measurementView=false; commonService.notesView=false; commonService?.scrollModalTop(0);">
                  VIEW CUSTOMIZATION
                </button>
              </div>
              <div *ngIf="commonService.selected_model?.notes_list?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=false; commonService.measurementView=false; commonService.notesView=true; commonService?.scrollModalTop(0);">
                  VIEW NOTES
                </button>
              </div>
            </ng-container>
            <div *ngIf="!commonService.selected_model?.custom_list?.length && !commonService.selected_model?.notes_list?.length" class="col-md-6 col-6 pr-1 pl-1">
              <button class="primary-btn w-100" (click)="customizationDetailsModal.hide();" type="button">CLOSE</button>
            </div>
          </ng-container>
          <!-- notes view -->
          <ng-container *ngIf="commonService.notesView">
            <ng-container *ngIf="commonService.selected_model?.custom_list?.length || commonService.selected_model?.mm_sets?.length">
              <div *ngIf="commonService.selected_model?.custom_list?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=true; commonService.measurementView=false; commonService.notesView=false; commonService?.scrollModalTop(0);">
                  VIEW CUSTOMIZATION
                </button>
              </div>
              <div *ngIf="commonService.selected_model?.mm_sets?.length" class="col-md-6 col-6 pr-1 pl-1">
                <button class="primary-btn w-100" type="button" (click)="commonService.customView=false; commonService.measurementView=true; commonService.notesView=false; commonService?.scrollModalTop(0);">
                  VIEW MEASUREMENTS
                </button>
              </div>
            </ng-container>
            <div *ngIf="!commonService.selected_model?.custom_list?.length && !commonService.selected_model?.mm_sets?.length" class="col-md-6 col-6 pr-1 pl-1">
              <button class="primary-btn w-100" (click)="customizationDetailsModal.hide();" type="button">CLOSE</button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>