.fs-12
{
    font-size: 13px;
}

.zoom-icon {
    position: absolute;
      bottom: 0;
      color: #fff;
      width: 100%;
      z-index: 1;
      padding: 0 12px;   
      right: 0;
      height: 100%;
      left: 0;
      top: 0;
  }
  body{
      overflow-x: hidden!important;
  }
  .menu-tab li a
  {
      text-transform: none;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }