<!-- Section -->
<section class="pt-140 pb-80">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card col-md-8 single-service style--six">   
                <div class="row text-center">            
                    <div class="col-md-12 py-4"> 
                        <div align="center">
                            <span class="material-icons-outlined" style="color:#55d292;font-size:40px">verified</span>
                        </div>
                        <h4 class="mb-3" style="color:#3d3d3d">Thank you!</h4>
                        <h6 class="mb-3" style="color:#3d3d3d">Your request has been submitted, our team will reach out to you within 24 hours.</h6>   
                        <button *ngIf="brochure_status" class="px-3 mb-3 py-2 primary-btn d-flex justify-content-center align-items-center" type="submit" [disabled]="btn_loader" (click)="btnClick();">
                            <a id="getPdf" [href]="fileUrl" [download]="myFileName" target="_blank" style="pointer-events: none">Download Brochure</a>
                            <div class="box" *ngIf="btn_loader">
                              <div class="spinner"></div>
                            </div>
                        </button>
                        <div class="mb-2">
                            <a style="color:#55d292" (click)="backToHome()">Back to home</a>
                        </div>   
                    </div><!-- /.col-md-10 col-md-offset-1 -->
                </div><!-- /.row -->
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<!-- End Section -->