<section class="pt-140 pb-80">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="card col-md-8 single-service style--six">
        <div class="row text-center">
          <div class="col-md-12 py-4">
            <div align="center">
              <span class="material-icons-outlined" style="color:#55d292;font-size:40px">verified</span>
            </div>
            <h4 class="mb-3" style="color:#3d3d3d">Thank you!</h4>
            <h6 class="mb-3" style="color:#3d3d3d">
              Your request has been submitted, our team will reach out to you within 24 hours.
            </h6>
            <div class="mb-2">
              <a style="color:#55d292" routerLink="/">Back to home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>