<section class="over-all smooth-fadein">
  <section class="site-section">
    <div class="{{template_setting?.body_type}}">
      <div class="primary-card p-3">
        <div class="row">
          <div class="col-md-12">
            <div class="content-404" align="center">
              <h2 *ngIf="params?.type=='approve'">
                Thank you, your Quote has been approved! Our team will get in touch with you shortly.
              </h2>
              <h2 *ngIf="params?.type=='revision'">
                Sure! Our team will get in touch to help you with the best rates possible.
              </h2>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>