<section class="over-all smooth-fadein home-section">

	<!-- breadcrumb -->
	<section class="head-breadcrumb">
		<div class="{{template_setting?.body_type}}">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-navigation my-1">
						<ul class="collapsed">
							<li>
								<a routerLink="/">Home</a>
							</li>
							<li>
								<a class="active-page">About us</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
  </section>
  <!--# breadcrumb #--> 


    <!-- Highlighted Section -->
    <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp section--border_none">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <div class="landing-highlighted w-100">
              <figure>
                <img class="wow scale-down-center" src="assets/images/grid-1.jpg" width="100%" height="100%" alt="Sell">
              </figure>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                <h2>Company Profile</h2>
                <h6>With in-depth knowledge of the real estate industry, Stone & Acres is poised to carve out a niche for itself as one of India’s most transparent and reliable real estate companies in India. Built to be streamlined and optimized for clients satisfaction, Stone & Acres rests on its pillars of comprehensive expertise in both commercial and residential spaces. With a team of experts in the real estate sector, the firm offers a wide range of services to transform your visions to reality.</h6>
              </div>
              <!-- <button class="primary-btn">
                {{ segment.image_list[0].btn_text }}
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Highlighted Section -->



      <!-- Highlighted Section -->
    <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row flex-row-reverse">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <div class="landing-highlighted w-100">
              <figure>
                <img class="wow scale-down-center" src="assets/images/grid-1.jpg" width="100%" height="100%" alt="Sell">
              </figure>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                  <h2>Our Vision</h2>
                  <h6>Our vision is to be a name synonymous with excellence, offering new perspectives and realizing dreams by committing to our cause of becoming a leading firm in the Indian Landscape of real estate.
                  </h6>
              </div>
              <!-- <button class="primary-btn">
                {{ segment.image_list[0].btn_text }}
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Highlighted Section -->



    <!-- Highlighted Section -->
    <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <div class="landing-highlighted w-100">
              <figure>
                <img class="wow scale-down-center" src="assets/images/grid-1.jpg" width="100%" height="100%" alt="Sell">
              </figure>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                <h2>Our Mission</h2>
                <h6>
                  Our mission is to provide expert service and quality which leaves a lasting impression on our clients.
              </h6>
              </div>
              <!-- <button class="primary-btn">
                {{ segment.image_list[0].btn_text }}
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Highlighted Section -->

          <!-- Section Grid -->
          <section class="grid-categories primary-section wow fadeInUp pb-5">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="titles">              
                    <p>Gallery</p>
                    <h2>Our Gallery</h2>              
                  </div>
                </div>
      
              
                    <div class="col-xl-4 col-md-6 col-6">
                      <div class="category custom-grid">
                        <figure class="wow scale-down-center">
                          <img width="100%" height="100%" src="assets/images/grid-4.jpg"  alt="Sell">                   
                        </figure>
                      </div>
                    </div>
      
                    <div class="col-xl-4 col-md-6 col-6">
                        <div class="category custom-grid">
                          <figure class="wow scale-down-center">
                            <img width="100%" height="100%" src="assets/images/grid-3.jpg"  alt="Sell"> 
                          </figure>
                        </div>
                      </div>
      
                      <div class="col-xl-4 col-md-6 col-6">
                        <div class="category custom-grid">
                          <figure class="wow scale-down-center">
                            <img width="100%" height="100%" src="assets/images/grid-4.jpg"  alt="Sell"> 
                          </figure>
                        </div>
                      </div>
                
              </div>
            </div>
          </section>
          <!-- #Section Grid -->
  


</section>