<section *ngIf="pageLoader">
    <app-loading-spinner></app-loading-spinner>
  </section>
  
  <section *ngIf="!pageLoader" class="over-all smooth-fadein">
    <section class="common-site-section contact">
      <div class="{{template_setting?.body_type}}">
        <div class="row align-items-center justify-content-center mb-4">
          <h1 class="">Customer Enquiry</h1>
        </div>
        <div class="row align-items-center justify-content-center">
          <!-- enquiry form -->
          <div class="col-md-12">
            <div class="contact-us-form mb-3">
              <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate>
                <input type="hidden" id="zc_gad" name="zc_gad" value=""/>
                <div class="form-group">
                    <div class="row">
                        <div class="primary-card form-group p-3 mb-3 col-md-6">
                            <p>Name</p>
                            <input type="text" name="name" class="form-control w-100" [(ngModel)]="customerForm.name" required />
                          </div>
                          <div class="primary-card form-group p-3 mb-3 col-md-6">
                              <p>Mobile</p>
                              <input type="tel" name="mobile" class="form-control w-100" maxlength="10" minlength="10" [(ngModel)]="customerForm.mobile" appNumberOnly required />
                          </div>
                          <div class="primary-card form-group p-3 mb-3 col-md-6">
                            <p>Email</p>
                            <input type="email" name="email" class="form-control w-100" [(ngModel)]="customerForm.email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid Email ID" appLowercase required />
                          </div>
                          <div class="primary-card form-group p-3 mb-3 col-md-6">
                            <p>Project</p>
                            <select name="project" class="form-control w-100" [(ngModel)]="customerForm.project" style="height:48px !important;">
                              <option [ngValue]="undefined" selected disabled>Select project</option>
                              <option *ngFor="let x of projectList.list" [ngValue]="x.name">{{x.name}}</option>
                            </select>
                          </div>
                          <div class="primary-card form-group p-3 mb-md-4 col-md-12">
                            <p>Message</p>
                            <textarea name="message" class="form-control w-100" style="height: 100% !important;" rows="2" cols="50" [(ngModel)]="customerForm.message"></textarea>
                          </div>
                          <div *ngIf="alert_msg" [ngClass]="success_alert? 'success-alert': 'danger-alert'">
                            <div class="alert-msg d-flex align-items-center justify-content-center p-2">
                              <span class="material-icons"></span>
                              <p class="m-0">{{ alert_msg }}</p>
                            </div>
                          </div>
                    </div>
                </div>  
                <div></div>              
                <div class="row justify-content-center align-items-center">
                  <button type="submit" [disabled]="customerForm.submit" class="primary-btn d-flex justify-content-center align-items-center w-50 mt-3">
                    Submit
                    <div *ngIf="customerForm.submit" class="box">
                      <div class="spinner"></div>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <form #zohoForm action='https://crm.zoho.com/crm/WebToLeadForm' method='POST' onSubmit='javascript:document.charset="UTF-8";' accept-charset='UTF-8'>
    <input type='hidden' name='xnQsjsdp' value='f6f7384c8d22675f81dd9671ac44b92bb9604e92c1248f154accb7a54c5158f2' />
    <input type='hidden' name='zc_gad' id='zc_gad' value='' />
    <input type='hidden' name='xmIwtLD' value='d24eb38063b01d62d67919337c899972d97c3986eb1c9294bc609eae6d438bde' />
    <input type='hidden' name='actionType' value='TGVhZHM=' />
    <input type='hidden' id='returnURL' name='returnURL' value="{{customerForm.redirect_url}}" />
    <input type='hidden' id='Last_Name' name='Last Name' value="{{customerForm.name}}" />
    <input type='hidden' id='Lead_Source' name='Lead Source' value="{{customerForm.lead_source}}">
    <input type='hidden' id='LEADCF11' name='LEADCF11' value="{{customerForm.type}}"> 
    <input type="hidden" id='Lead_Status' name='Lead Status' value="Not Contacted" />
    <input type='hidden' id='Mobile' name='Mobile' value="{{customerForm.mobile}}">
    <input type='hidden' id='Email' name='Email' value="{{customerForm.email}}">
    <input type='hidden' id='LEADCF15' name='LEADCF15' value="{{customerForm.project}}" />
    <input type='hidden' id='LEADCF82' name='LEADCF82' value="{{customerForm.current_date}}" />
    <input type='hidden' id='Description' name='Description' value="{{customerForm.message}}" />
    <input type="hidden" id='Website' name='Website' value="{{customerForm.website_url}}" />
  </form>