/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap-grid.css";
@import "assets/css/swiper.css";
@import "assets/css/quill-core.css";

@import "assets/scss/template.scss";
@import "assets/scss/style.scss";
@import "assets/scss/layout.scss";
@import "assets/scss/custom.scss";
@import "assets/scss/checkbox.scss";
@import "assets/scss/button.scss";

@import "assets/scss/estates_style.scss";
// @import "assets/golo-theme/css/responsive.css";
@import "assets/css/golo-style.css";


// header
@import "assets/header/type-3.scss";

.blur-up {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: filter 1500ms 250ms, -webkit-filter 1500ms 250ms;
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.lq-blur-up {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  transition: filter 1500ms 250ms, -webkit-filter 1500ms 250ms;
}