<section class="over-all smooth-fadein home-section">

	<!-- breadcrumb -->
	<section class="head-breadcrumb">
		<div class="{{template_setting?.body_type}}">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-navigation my-1">
						<ul class="collapsed">
							<li>
								<a routerLink="/">Home</a>
							</li>
							<li>
								<a class="active-page">Our Services</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
  </section>
  <!--# breadcrumb #--> 


    <!-- Highlighted Section -->
    <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp section--border_none">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <div class="landing-highlighted w-100">
              <figure>
                <img class="wow scale-down-center" src="assets/images/services-long.jpg" width="100%" height="100%" alt="Sell">
              </figure>
            </div>
          </div>
          <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                <h2>Have a project to sell?</h2>
                <h4 class="mb-2">Don't look any further.</h4>
                <h6>We have a range of solutions focussed on defining and targeting the appropriate audience for each project.</h6>
              </div>
              <button class="primary-btn" routerLink="/aboutus">More about us</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- #Highlighted Section -->



      <!-- Highlighted Section -->
    <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp">
      <div class="{{template_setting?.body_type}}">
        <div class="row">
          
          <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-center">
                  <h2>Marketing</h2>
                  <h6>We do A-Z marketing for all kinds of real estate projects and we help in completing the sale of the project within the timeline agreed on.</h6>
              </div>             
            </div>
          </div>

          <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                  <ul style="list-style:none; line-height:40px;">
                    <li>COMPLETE MARKETING STRATEGY</li>
                    <li>OVERALL BRANDING AND COMMUNICATION</li>
                    <li>MEDIA AND AD PLACEMENTS</li>
                    <li>SOCIAL MEDIA AND ONLINE PROMOTIONS</li>
                    <li>CUSTOMER RELATIONSHIP MANAGEMENT (CRM)</li>
                    <li>PRICING STRATEGIES FOR EVERY PROJECT</li>
                    <li>PROJECT SPECIFIC SALES TEAMS</li>
                    <li>INCREASING WALK-INS WITH ON-GROUND ACTIVITIES</li>
                    </ul>
              </div>             
            </div>
          </div>

          <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
            <div class="highlighted-text-width">
              <div class="landing-highlighted-text d-flex flex-column text-left">
                  <ul style="list-style:none; line-height:40px;">
                    <li>COMPLETE DOCUMENTATION AT EVERY STAGE</li>
                    <li>STRICT TIMELINES AND SALES TARGETS</li>
                    <li>MONITORING COLLECTIONS FOR EVERY PROJECT</li>
                    <li>WEEKLY ANALYSIS AND REPORTS</li>
                    <li>COMPREHENSIVE DATABASE MANAGEMENT FOR BUILDERS</li>
                    <li>ASSISTANCE IN SALES TRANSACTIONS AND CLOSURES</li>
                    <li>PROMPT RESPONSE TO ALL GRIEVANCES AND QUERIES</li>
                    </ul>
              </div>             
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- #Highlighted Section -->



     <!-- Highlighted Section -->
     <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp">
        <div class="{{template_setting?.body_type}}">
          <div class="row">
            
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center">
              <div class="highlighted-text-width">
                <div class="landing-highlighted-text d-flex flex-column text-center">
                    <h2>Consulting</h2>
                    <h6>Whether it’s buying, selling or renting, Stone & Acres provides expert inputs and key insights. Our guidance based upon thorough observations and analytics to gauge the market and help clients in making the best decisions.</h6>
                </div>             
              </div>
            </div>
  
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
              <div class="highlighted-text-width">
                <div class="landing-highlighted-text d-flex flex-column text-left">
                    <ul style="list-style:none; line-height:40px;">
                      <li>EXTENSIVE MARKET AND CONSUMER RESEARCH</li>
                      <li>COMPETITION ANALYSIS AND MAPPING</li>
                      <li>IDENTIFICATION OF USPS AND DIFFERENTIATORS</li>
                      <li>RECOMMENDATIONS FOR AMENITIES AND FEATURES</li>
                    </ul>
                </div>             
              </div>
            </div>
  
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
              <div class="highlighted-text-width">
                <div class="landing-highlighted-text d-flex flex-column text-left">
                    <ul style="list-style:none; line-height:40px;">
                      <li>COMPLETE STRATEGY ENCOMPASSING DESIGN, SIZE AND PRICING</li>
                      <li>PROJECT CONCEPTUALIZATION AND IDEATION</li>
                      <li>LOCATION BASES GAP ANALYSIS</li>
                      <li>FEASIBILITY REPORT FOR EVERY PROJECT</li>
                    </ul>
                </div>             
              </div>
            </div>
  
          </div>
        </div>
      </section>
      <!-- #Highlighted Section -->


</section>