<section class="over-all smooth-fadein home-section">

	<!-- breadcrumb -->
	<section class="head-breadcrumb">
		<div class="{{template_setting?.body_type}}">
			<div class="row">
				<div class="col-md-12">
					<div class="breadcrumb-navigation my-1">
						<ul class="collapsed">
							<li>
								<a routerLink="/">Home</a>
							</li>
							<li>
								<a class="active-page">Sell</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
  </section>
  <!--# breadcrumb #--> 


      <!-- Highlighted Section -->
      <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp section--border_none">
        <div class="{{template_setting?.body_type}}">
          <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
              <div class="landing-highlighted w-100">
                <figure>
                  <img class="wow scale-down-center" src="https://yourstore.io/api/uploads/622efa5ee3607a6f5569a43a/layouts/1648094268618-265747.jpg" width="100%" height="100%" alt="Sell">
                </figure>
              </div>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
              <div class="highlighted-text-width">
                <div class="landing-highlighted-text d-flex flex-column text-left">
                  <h2>Lorem Ipsum</h2>
                  <h6>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                    and scrambled it to make a type specimen book.
                </h6>
                </div>
                <!-- <button class="primary-btn">
                  {{ segment.image_list[0].btn_text }}
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="primary-section highlighted-sec single-highlighted-sec wow fadeInUp">
        <div class="{{template_setting?.body_type}}">
          <div class="row flex-row-reverse">
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-center">
              <div class="landing-highlighted w-100">
                <figure>
                  <img class="wow scale-down-center" src="https://yourstore.io/api/uploads/622efa5ee3607a6f5569a43a/layouts/1647265309039-469217.jpg" width="100%" height="100%" alt="Sell">
                </figure>
              </div>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-end">
              <div class="highlighted-text-width">
                <div class="landing-highlighted-text d-flex flex-column text-left">
                    <h2>Lorem Ipsum</h2>
                    <h6>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type 
                        and scrambled it to make a type specimen book.
                    </h6>
                </div>
                <!-- <button class="primary-btn">
                  {{ segment.image_list[0].btn_text }}
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- #Highlighted Section -->
    

    <!-- Section Grid -->
    <section class="grid-categories primary-section wow fadeInUp pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="titles">              
                <p>Lorem Ipsum</p>
                <h2>Lorem Ipsum</h2>              
              </div>
            </div>
  
            <!-- Grid 1, 2, 3, 4, 5, 6, 11 -->
            <!-- <ng-container *ngIf="segment.section_grid_type!='grid_7' && segment.section_grid_type!='grid_8' && segment.section_grid_type!='grid_9' && segment.section_grid_type!='grid_10'">
              <ng-container *ngFor="let x of segment.image_list; let j=index;"> -->
                <div class="col-xl-4 col-md-6 col-12">
                  <div class="category custom-grid">
                    <figure class="wow scale-down-center">
                      <img width="100%" height="100%" src="https://yourstore.io/api/uploads/622efa5ee3607a6f5569a43a/layouts/1648091197245-254264.jpg"  alt="Sell">
                      <!-- <div class="grid-text-position category-grid-text d-flex align-items-start justify-content-end flex-column">                    
                        <h1 class="py-3">{{ x.content_details.heading }}</h1>
                        <div class="pt-3 features--show-button-transition">
                          <button class="CollectionItem__Link product-btn">View products</button>
                        </div>                     
                      </div> -->
                    </figure>
                  </div>
                </div>

                <div class="col-xl-4 col-md-6 col-12">
                    <div class="category custom-grid">
                      <figure class="wow scale-down-center">
                        <img width="100%" height="100%" src="https://yourstore.io/api/uploads/622efa5ee3607a6f5569a43a/layouts/1648091197245-254264.jpg"  alt="Sell">
                        <!-- <div class="grid-text-position category-grid-text d-flex align-items-start justify-content-end flex-column">                    
                          <h1 class="py-3">{{ x.content_details.heading }}</h1>
                          <div class="pt-3 features--show-button-transition">
                            <button class="CollectionItem__Link product-btn">View products</button>
                          </div>                     
                        </div> -->
                      </figure>
                    </div>
                  </div>

                  <div class="col-xl-4 col-md-6 col-12">
                    <div class="category custom-grid">
                      <figure class="wow scale-down-center">
                        <img width="100%" height="100%" src="https://yourstore.io/api/uploads/622efa5ee3607a6f5569a43a/layouts/1648091197245-254264.jpg"  alt="Sell">
                        <!-- <div class="grid-text-position category-grid-text d-flex align-items-start justify-content-end flex-column">                    
                          <h1 class="py-3">{{ x.content_details.heading }}</h1>
                          <div class="pt-3 features--show-button-transition">
                            <button class="CollectionItem__Link product-btn">View products</button>
                          </div>                     
                        </div> -->
                      </figure>
                    </div>
                  </div>
              <!-- </ng-container>
            </ng-container> -->
            <!-- ## Grid 1, 2, 3, 4, 5, 6, 11 ## -->  
           
          </div>
        </div>
      </section>
      <!-- #Section Grid -->

    <!--Accordion Section-->  

    <section class="primary-section wow fadeInUp pb-5">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="titles">              
                  <p>Accordion</p>
                  <h2>Lorem Ipsum</h2>              
                </div>
              </div>

              <div class="col-md-10">
                <div class="container">
                    <accordion [isAnimated]="true">                    
                        <accordion-group heading="Accordion1">
                          <p>Content1</p>
                        </accordion-group> 

                        <accordion-group heading="Accordion2">
                            <p>Content2</p>
                          </accordion-group> 

                          <accordion-group heading="Accordion3">
                            <p>Content3</p>
                          </accordion-group> 

                    </accordion>
                  </div>
              </div>
        </div>

        </div>
        </section>

    <!--#Accordion Section-->



</section>